[Unit]
Description= Starts QA version listener

[Service]
PermissionStartOnly=true
Type=idle
ExecStart= /usr/bin/php /home/stefan/vcs/QAversions.php
Restart=on-failure
[Install]
WantedBy= multi-user.target

